USE [master]
GO
/****** Object:  Database [LISBETH_RENT_A_CAR]    Script Date: 14/08/2018 21:44:51 ******/
CREATE DATABASE [LISBETH_RENT_A_CAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LISBETH_RENT_A_CAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LISBETH_RENT_A_CAR.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LISBETH_RENT_A_CAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LISBETH_RENT_A_CAR_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LISBETH_RENT_A_CAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LISBETH_RENT_A_CAR]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 14/08/2018 21:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[DIRECCION] [varchar](60) NULL,
	[TELEFONO] [varchar](12) NULL,
 CONSTRAINT [IDCLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEHICULO_RENTADO]    Script Date: 14/08/2018 21:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEHICULO_RENTADO](
	[IDCLIENTE] [int] NULL,
	[IDVEHICULO] [varchar](25) NULL,
	[FECHAENTRE] [varchar](20) NULL,
	[FECHADEVO] [varchar](20) NULL,
	[MONTODESEM] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEHICULOS]    Script Date: 14/08/2018 21:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEHICULOS](
	[IDVEHICULO] [varchar](25) NOT NULL,
	[MARCA] [varchar](40) NOT NULL,
	[TIPO] [varchar](25) NULL,
	[COLOR] [varchar](25) NULL,
	[ANO] [varchar](25) NULL,
	[TRANSMISION] [varchar](25) NULL,
	[FECHA_ULT_MANT] [varchar](25) NULL,
 CONSTRAINT [PK_IDVEHICULO] PRIMARY KEY CLUSTERED 
(
	[IDVEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IDCLIENTE], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (1, N'JUAN PEREZ', N'CA/SANCHEZ KM 35 SANTO DOMINGO ', N'809-767-0988')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (2, N'YOEL ARIAS ', N'C/LIBERTAD 34', N'809-556-0987')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (3, N'RICARDIO RIJO', N'C/LEMBA #456', N'809-957-3867')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
INSERT [dbo].[VEHICULOS] ([IDVEHICULO], [MARCA], [TIPO], [COLOR], [ANO], [TRANSMISION], [FECHA_ULT_MANT]) VALUES (N'001', N'ZONATA ', N'D', N'BLANCO', N'2012', N'MECANICO ', N'09/09/2018')
ALTER TABLE [dbo].[VEHICULO_RENTADO]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[VEHICULO_RENTADO]  WITH CHECK ADD FOREIGN KEY([IDVEHICULO])
REFERENCES [dbo].[VEHICULOS] ([IDVEHICULO])
GO
USE [master]
GO
